# Root level ignores
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Elixir / Phoenix backend ignores
/api/_build/
/api/cover/
/api/deps/
/api/doc/
/api/.fetch
/api/erl_crash.dump
/api/*.ez
/api/tmp/
/api/priv/static/
/api/priv/cert/
/api/api-*.tar
/api/.elixir_ls/

# Ignore potentially sensitive config files
/api/config/*.secret.exs
/api/config/*.local.exs

# Ignore generated assets from the frontend
/api/priv/static/assets/
/api/priv/static/cache_manifest.json

# React / Frontend ignores
/client/node_modules/
/client/.pnp
/client/.pnp.js

# Testing
/client/coverage/

# Production
/client/dist/
/client/build/

# Misc
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# Cache files
/client/.eslintcache
/client/.stylelintcache

# Logs
/client/logs
/client/*.log
